.filter-bar {
    border: solid 1px #cecece;
    width: 86vw;
    margin: 2rem auto 0 auto;
    padding: 1.25rem 0;
    justify-content: space-evenly;
    display: flex;
    
}

.filter {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 22px;
    font-weight: 560;
    color: #151515;
}